---
layout: basic
---
<div class="tsmp-top"></div>
<a href="#" class="tsmp-top-button button green"><i class="fas fa-chevron-up"></i></a>
<header class="tsmp-header">
<div class="tsmp-header-contents">
  <div class="tsmp-sitetitle">
  <a href="javascript:toggleMenu()" class="tsmp-mobile-menu button"><i class="fas fa-bars"></i></a>
    <a href="javascript:location.reload()" class="tsmp-sitelogo"><img src="" alt=""></img></a>
  </div>


  <div class="tsmp-header-spacer"></div>
  <nav class="tsmp-sitenav">
    <ul>
      <li class="active"><a href="/beta/seasons/">Seasons</a></li>
      <li><a href="/beta/members/">Members</a></li>
      <li><a href="/beta/recap/">Recap</a></li>
      <li><a class="button" href="javascript:addVideo()">Add Video</a></li>
    </ul>
  </nav>
</div>
</header>
<main clas="tsmp-main">
{{content}}
</main>
<footer class="tsmp-footer">
<script src="http://api.tumblenet.ga/footer.js"></script>
</footer>
